* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
button:disabled {
  background-color: #cccccc;
  opacity: 0.2;
  pointer-events: none;
  cursor: not-allowed;
}

body {
  background-color: #333333;
}
h1,
h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
h1 {
  color: #ffffff;
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin-top: 100px;
}

.rounds {
  padding: 20px 0;
}
h2 {
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}
.rounds .wrapper {
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.rounds button {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  background-color: #87ceeb;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.results {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
#score {
  width: 100px;
  background-color: rgba(255, 255, 255, 0.2);
}
#score,
#resultMessage {
  padding: 20px 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 20px 0;
  color: #ffffff;
}
.human {
  width: 50%;
}
.computer {
  width: 50%;
}

.rounds button,
#rock,
#paper,
#scissors {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease all;
}

.choice {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#rock,
.rock,
#paper,
.paper,
#scissors,
.scissors {
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  background-color: #87ceeb;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease all;
}

button:hover {
  transform: scale(1.1);
}

#rock:hover {
  background-color: #ff6347;
}

#paper:hover {
  background-color: #ffff00;
}

#scissors:hover {
  background-color: #008000;
}

#rock:active,
#paper:active,
#scissors:active {
  transform: scale(0.95);
}

.computer .rock,
.computer .paper,
.computer .scissors {
  background-color: #666666;
  cursor: not-allowed;
  opacity: 0.3;
}

